{%- if site.analytics.google.tracking_id -%}
	<script data-ad-client="ca-pub-7183754943416097" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.analytics.google.tracking_id }}"></script>
	<script data-ad-client="ca-pub-7183754943416097" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', '{{ site.analytics.google.tracking_id }}');
		{% if site.analytics.google.anonymize_ip == true %}
			gtag('config', '{{ site.analytics.google.tracking_id }}', { 'anonymize_ip': true });
		{% endif %}
	</script>
{%- endif -%}
